$fa-font-path: "../webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/regular.scss";

// spinkit
@import "../node_modules/spinkit/spinkit";

:root {
  --sk-size: 100px;
  --sk-color: rgb(223, 223, 223);
}

$beige: #f1e4d4;
$red: #ef4136;
$black: #000000;

* {
  margin: 0;
  padding: 0;
}

html {
  background: $red;
}

html,
body {
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.keyboard-controls {
  position: absolute;
  padding: 16px;
}

@media (max-width: 900px) {
  .keyboard-controls {
    display: none;
  }
}

.button-container {
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

#dash {
  appearance: none;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: rgb(161, 162, 162) 0px 4px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 7vh;
  margin-left: 10px;
  max-width: 100%;
  outline: none;
  width: 250px;
}

#dash > span {
  display: block;
  width: 55px;
  height: 23px;
  background: #231f20;
  pointer-events: none;
}

#dot {
  appearance: none;
  align-items: center;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: rgb(161, 162, 162) 0px 4px 0px;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 7vh;
  outline: none;
  margin-right: 10px;
  max-width: 100%;
  width: 250px;
}

#dot > span {
  display: block;
  width: 36px;
  height: 36px;
  background: #231f20;
  border-radius: 50%;
  pointer-events: none;
}

#button-box {
  background: rgb(230, 231, 232);
  align-items: flex-end;
  justify-content: center;
  display: flex;
  height: 100%;
  padding: 15px 20px 25px;
  width: calc(100% - 40px);
}

#output {
  appearance: none;
  background: rgb(230, 231, 232);
  border: none;
  bottom: 25vh;
  color: rgb(35, 31, 32);
  font-size: 4vh;
  font-weight: 700;
  padding: 5px 0px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  visibility: visible;
  vertical-align: middle;
  pointer-events: auto;
}

#morseboard {
  align-items: stretch;
  background: rgb(230, 231, 232);
  bottom: 0px;
  display: none;
  flex-direction: column;
  height: 25vh;
  min-height: 227px;
  left: 0px;
  position: fixed;
  width: 100%;
}



.dot-box,
.dash-box {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.key-container {
  width: 100px;
  height: 100px;
}

.keybutton {
  appearance: none;
  margin: 8px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: rgb(161, 162, 162) 0px 4px 0px, rgb(161, 162, 162) 2px 4px 0px,
    rgb(161, 162, 162) -2px 4px 0px;
  height: 42px;
  font-size: 32px;
  outline: none;
  width: 42px;
}

.keybutton.longkey {
  width: auto;
  font-size: 16px;
  padding: 0 4px;
}

// Fallback for landscape
#landscape {
  color: $beige;
  display: none;
  font-size: 30px;
  left: 50%;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
}

#button {
  color: #f1e4d4;
  cursor: pointer;
  display: none;
  font-size: 50px;
  font-weight: 400;
  padding: 30px 50px;
  position: fixed;
  text-align: center;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 2;

  &:focus {
    outline: none;
  }

  img {
    height: 32px;
    margin-right: -3px;
    margin-top: 19px;
    pointer-events: none;
    width: 32px;
  }

  &::after {
    background-color: rgba($black, 0.4);
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    top: 29px;
    right: 26px;
    height: 75px;
    width: 75px;
    z-index: -1;
  }
}

// About overlay
#overlay {
  background-color: $red;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  visibility: hidden;
  -webkit-overflow-scrolling: scroll;
  z-index: 1;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

// loading overlay
#loading-overlay {
  background-color: $red;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  visibility: hidden;
  -webkit-overflow-scrolling: scroll;
  z-index: 1;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  .content {
    color: rgba($black, 0.4);
    font-size: 30px;

    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  color: $beige;
  margin-bottom: 40px;
}

.wrapper {
  color: rgba($black, 0.4);
  font-size: 30px;
  margin: 15% auto 0;
  max-width: 75%;

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    font-size: 50px;
  }

  p {
    margin-bottom: 40px;
  }

  p:last-of-type {
    margin-bottom: 10px;
  }

  a {
    color: rgba($black, 0.4);
  }

  img {
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 400px;
  }
}

.gamemode {
  padding-top: 48px;

  p,
  h2, span {
    display: none;
  }
}

.tl-btn-group {
  position: fixed;
  display: flex;
  opacity: 0;
  flex-direction: column;
  left: 1em;
  top: 1em;

  color: white;
  width: 250px;

  span {
    margin-left: 4px;
  }

  i {
    width: 36px;
  }

  .item {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.3em;
    color: white;
    &.disabled {
      opacity: 0.5;
    }
  }
}

.modal-container {
  position:absolute;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;

  display: none;
  align-items: center;

  background: rgba($black, 0.2);
}

.modal {
  background: white;
  max-width: 600px;
  width: 80%;
  margin: 0 auto;

  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);

  font-family: "Helvetica","Arial",sans-serif;

  border-radius: 8px;
  padding: 32px;

  button {
    padding: 16px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Helvetica","Arial",sans-serif;
    background: none;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    background: #e0e0e0;
    cursor: pointer;
  }

  .primary {
    font-weight: bold;
  }

  .secondary {
    font-weight: 300px;
  }

  .consent-button-container {
    display: flex;
    justify-content: center;
  }

  .secondary {
    margin-right: 16px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 16px 0;
  }

  p.strong {
    margin: 32px 0;
    font-weight: bold;
  }
}